# Python
__pycache__/
*.pyc

# Jupyter Notebook
.ipynb_checkpoints/

# Environment
.conda/
.env

# Mac
.DS_Store

# Trained AI models
*.pt
*.pth

# VS Code settings
.vscode/

# Research data / private data
data/
